<div class="card" style="width: 800px;">

    <div class="card-body">

        <ul class="list-group list-group-flush">
        <!--<ul class="list-group list-group-flush" *ngFor="let item of itens">-->
            <li class="list-group-item">
                <app-item></app-item>
            </li>
            <li class="list-group-item">
                <app-item></app-item>
            </li>
            <li class="list-group-item">
                <app-item></app-item>
            </li>
        </ul>


    </div>

  </div>